.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 4fr 2fr .5fr;
    grid-template-areas: 
    "header header header"
    "list list list"
    "images images images"
    "footer footer footer";
}

header {
    grid-area: header;
    background-color: blue;
}

.section-one {
    grid-area: list;
    background-image: url("./images/main-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
}

.section-two {
    grid-area: images;
    background-color: green;
}

.footer {
    grid-area: footer;
    background-color: hotpink;
}

ul{
    margin-left: 60%;
    list-style: none;
    margin-right: 10%;
}

li {
    height: 50px;
    width: 75%;
    font-size: 13pt;
    text-align: left;
    padding: 10pt;
    background-color: gray;
    margin: 5pt;
    color: white;
}















/* .logo {
    height: 200px;
    width: 30%;
    grid-row: 1/2;
    justify-self: center;
}

.nav{
    justify-self: center;
    grid-row: 2/3;
    font-size: 20pt;
}

.section-one {
    grid-row: 3/4;
}

.section-two{
    grid-row: 4/5;
   
}

.image-one{
    grid-row: 4/5;
    grid-column: 2/3;
}

.image-two{
    grid-row: 4/5;
    grid-column: 3/4;
}

.image-three{
    grid-row: 4/5;
    grid-column: 4/5;
}

.footer{
    grid-row: 5/6;
    justify-self: center;
    font-size: 20pt;
}


.all-caps {
    background-color: black;
    color: white;
    font-size: 12pt;
}

img {
    height: 10%;
    width: 10%;
}

.content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 5px;
} */