body {
  font-family: 'Krona One', sans-serif;
  margin:0;
  background-color:#F7F8F7;
  color:#1A455D;
}

.margins {
  margin-left: 5%;
  margin-right: 5%;
}

button {
  margin-left: 72%;
  background-color:#4F99A4;
  padding: 20px 50px;
  font-size: 25px;
  border-radius: 12px;
  font-style: bold;
}

button  a{
  color: #F1F3F2;
  text-decoration:none;
}

button a:hover{
  color: #1A455D;
}

/* Nav and Logo */

.logo {
  display: block;
  padding: 4px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  color: #F7F8F7;
  font-size: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

nav a:visited {
  color: #CEB458;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: #CEB458;
  background-color: transparent;
  text-decoration: none;
}

.nav > a {
  margin:0 30pt;
  padding-bottom: 15pt;
  color: #C6A531;
}

.nav a:hover {
  color:#632840;
}

/* Footer Styles */

.footer {
  grid-area: footer;
  background-color: #632741;
  text-align: center;
  padding: 1% 10%;
}

.smLinks > a {
  padding: 5px;
  font-size: 25pt;
  text-align: center;
  text-decoration:none;
}

.smLinks a:visited{
  color:#F1F3F2;
}

footer > small {
  color: #F7F8F7;
}