.grid-container {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: .25fr 1fr .15fr;
    grid-template-areas:
    "header header header"
    ". contactForm ."
    "footer footer footer";
}

.header {
    grid-area: header;
}

.contactForm {
    grid-area: contactForm;
    background-color:#F7F8F7;
}

/* FORMS STYLES */
h1{
    background-color: #1A455D;
    color: #F7F8F7;
    padding: 10pt;
    font-size:35px;
    width:100%;
    text-align:center;
}

input, select, textarea {
    width: 60%;
    padding: 5px 20px;
    margin: 5px;
    display: inline-block;
    align-content: center;
    border: 2px solid #1A455D;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
}

input, textarea{
    width:80%;
    margin-left:10%;
}

.submit {
    background-color:#4F99A4;
    color:  #F7F8F7;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 12px;
    font-style: bold;
    margin-bottom: 10%;
    width:30%;
    margin-left:60%;
}

.submit:hover{
    color: #1A455D;
}
