.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .25fr 1fr 1fr 1fr .25fr;
    grid-template-areas:
    "header header"
    "blog1 blog1"
    "blog2 blog2"
    "blog3 blog3"
    "footer footer";
}

body {
    font-family: 'Krona One', sans-serif;
    color:#1A455D;
}

.margins {
    margin-left: 15%;
    margin-right: 15%;
}

.header {
    grid-area: header;
    background-color:#F7F8F7;
}

.blog1 {
    grid-area: blog1;
    background-color:#F7F8F7;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.blog2 {
    grid-area: blog2;
    background-color:#F7F8F7;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.blog3 {
    grid-area: blog3;
    background-color:#F7F8F7;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.footer {
    grid-area: footer;
    background-color: #632741;
    padding:5pt 15pt;
    text-align: center;
}

/* Nav and Logo */

.logo {
    display: block;    
    padding: 4px;    
    width: 550px;    
    margin-left: auto;    
    margin-right: auto;
}

.nav {
    height: 15%;
    color: #F7F8F7;
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%; 
    text-decoration: none;
}

a:visited {
    color: #CEB458;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: #CEB458;
    background-color: transparent;
    text-decoration: none;
}

.nav > a {
   margin:0 30pt;
   padding-bottom: 15pt;
}

.nav a:hover {
    border-bottom: 5px solid #632741;
    color:#632741;
}

.bloginfo {
    border: 4px solid #1A455D;
    max-width: 600px;
    min-width: 400px;
    height: 300px;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    margin-right: 5px;
}

.blog-img {
    border: 4px solid #1A455D;
}

h3 {
    margin-top: 40pt;
    font-size: 15pt;
}

button {
    background-color:#4F99A4;
    color:  #F7F8F7;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 12px;
    font-style: bold;
}

button:hover{
    color: #1A455D;
}

/* Footer Styles */

.smLinks > a {
    padding: 10px;
    font-size: 35pt;
    text-align: center;
}
 
footer > small {
     color: #F7F8F7;
}
