.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .75fr 1.1fr 1.1fr 1.1fr .25fr;
    grid-template-areas:
    "header header"
    "blog1 blog1"
    "blog2 blog2"
    "blog3 blog3"
    "footer footer";
}

.header {
    grid-area: header;
}

.blog1 {
    grid-area: blog1;
    background-color:#F7F8F7;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.blog2 {
    grid-area: blog2;
    background-color:#F7F8F7;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.blog3 {
    grid-area: blog3;
    background-color:#F7F8F7;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.bloginfo {
    border: 4px solid #1A455D;
    max-width: 600px;
    min-width: 400px;
    height: 300px;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    margin-right: 5px;
}

.bloginfo p{
    font-size:15px;
}

.blog-img {
    border: 4px solid #1A455D;
}

h3 {
    margin-top: 40pt;
    font-size: 15pt;
}

.blog-button {
    background-color:#4F99A4;
    color:  #F7F8F7;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 12px;
    font-style: bold;
    margin-top:60px;
}

.blog-button:hover{
    color: #1A455D;
}
