.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .25fr 1fr 1.25fr .25fr;
    grid-template-areas:
    "header header header"
    "image image image"
    "about about about"
    "footer footer footer";
}

.header {
    grid-area: header;
}

.image {
    grid-area: image;
}

.about {
    grid-area: about;
    background-color:#F7F8F7;
}

/* image style */
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    background-color: #632741;
    color: #F7F8F7;
    font-size: 35px;
    text-align: center;
    margin: 0 250px;
    padding: 30px;
    width:100%;
}

.about-image {
    height: 550px;
    width: 1000px;
    border: black solid 5pt;
    margin:0px ;
}

section{
    margin: 40pt 270pt;
    text-align: center;
}

h3 {
    font-size: 17pt;
}

p {
    font-size: 14pt;
}
